$main-blue: #03406a;

body {
  font: 1.2em/1.62em sans-serif;
  margin: 1em auto;
  padding: 0 .62em;
  max-width: 700px;

  h1, h2, h3 {line-height:1.2em;}

  .profile { font-family: monospace; }

  @media print{body{max-width:none}}
}
